Missing tests for out of range values in hours/minutes in date-time format

In the [`date-time`](https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/main/tests/draft2020-12/optional/format/date-time.json)  format tests, I noticed some out of range time components value do not appear to be covered.

**Per the specification:**
Date and time format names are derived from [RFC 9557, section 4.1](https://www.rfc-editor.org/info/rfc9557) which extends [RFC 3339, section 5.6](https://www.rfc-editor.org/info/rfc3339). The duration format is from ISO 8601 as formalized into ABNF by RFC 3339 Appendix A.
[Spec Link](https://github.com/json-schema-org/json-schema-spec/blob/main/specs/jsonschema-validation.md#dates-times-and-duration)

**RFC 3339 section 5.6** restricts time components as : 

<img width="956" height="676" alt="Image" src="https://github.com/user-attachments/assets/6f7fb548-b32e-425d-a45f-ae47b365fe29" />

I couldn't find test cases ensuring values outside these ranges are rejected, e.g. 
1)  `1990-12-31T24:00:00Z` (hour > 23)
2) `1990-12-31T15:60:00Z`  (minute > 59)
3) `1990-12-31T10:00:00+10:60` (offset-minute > 59)

If this coverage is desired, I can open a PR adding a few minimal negative test cases.



Please go ahead and open a PR for these cases. Thanks.