More positive examples needed for IPv6 tests

IPv6 addresses are complex, therefore more positive examples are needed to verify validation of IPv6 addresses. This actually is a general concern with the test suite. Features often are tested by checking for failed validation, which leaves huge room for false positives: Those negative tests often pass for the trivial reason, that the tested validator doesn't even remotely understand the tested construct.

Anyway, here a list of valid IPv6 addresses that should be tested:
- RFC2373, section 2.2.1: FEDC:BA98:7654:3210:FEDC:BA98:7654:3210, 1080:0:0:0:8:800:200C:417A
- RFC2373, section 2.2.2: 1080::8:800:200C:417A, FF01::101, ::1, ::
- RFC2373, section 2.2.3: 0:0:0:0:0:0:13.1.68.3, 0:0:0:0:0:FFFF:129.144.52.38, ::13.1.68.3, ::FFFF:129.144.52.38


Each of the format validators will be like this -- lots of edge cases to be tested.

I actually think the JSON-Schema-Test-Suite should continue what it's doing and just providing minimal tests. Providing a good language agnostic test suite for ipv6 should go in another project.

Does a language agnostic test suite for ipv6 addresses already exist somewhere?

( @seagreen that's a great question, and I don't know unfortunately).

@hasselmm if you have any more to elaborate on here please let me know, otherwise yeah gonna close this out.