Add test to ensure dotted-decimal IPv4 addresses are rejected by format: hostname

The current [`format-hostname`](https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/main/tests/draft2020-12/optional/format/hostname.json) test suite does not include a case ensuring that dotted-decimal IPv4 addresses (e.g., `192.168.0.1`) are rejected.
Because hostname labels are allowed to:
1) start with digits, and
2) be entirely numeric,

a validator may incorrectly validate `192.168.0.1` as four numeric labels and accept it as a hostname.

However, [RFC 1123 section2.1](https://www.rfc-editor.org/rfc/rfc1123.html#page-13) mentioned in the [spec](https://github.com/json-schema-org/json-schema-spec/blob/main/specs/jsonschema-validation.md#hostnames) states: 
`a valid host name can never have the dotted-decimal form #.#.#.#`

<img width="912" height="257" alt="Image" src="https://github.com/user-attachments/assets/fd1277de-a39a-486b-be50-42ff87e84f1e" />

Therefore, dotted-decimal IPv4 addresses must not be considered valid hostnames.
Since we already provide a separate `format: ipv4`, allowing such values to pass hostname would blur the distinction between the two formats.


> I think the RFC 1123 shouldn't be mentioned at all, but instead RFC 3986 host abnf should be pointed for `hostname` and RFC 3987 `ihost` abnf should be pointed for `idn-hostname`.

@SorinGFS Can you create an issue in the spec repo making your case about this? I think you have some good points. Since this is the test repo, getting into that discussion here isn't going to lead anywhere.

Sure.