README.md doesn't describe optional tests

> If you look inside the draft directory, there are a number of `.json` files,
> which logically group a set of test cases together. Often the grouping is by
> property under test, but not always, especially within optional test files
> (discussed below).

...only there is no discussion below.

This paragraph was introduced in commit 9cda89ee01a4cc9e86a215b3b9ff0468b59714a0 way back in 2012, but no description of the optional/ directory was added.

A simple paragraph should be enough -- something like "Tests in the optional/ directory should not be run automatically. They describe behaviour that may be implemented in accordance with section 5 of RFC2119 [that's the definition of "MAY"]" perhaps?

In my code that wraps around the test suite, I intend to run these tests only if `include_optional = 1` was included as an option.

Thanks! I agree, but this is #25 

A PR would of course be more than welcome!

Duplicates #25